{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <h1 style="font-style: italic; color: blue;"> Create an Team : </h1>

    {# generate all of the form elements #}
    {{ form(form, {'attr': {'class': 'my-form'}}) }}

{% endblock %}