{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}

<div style="margin: 3%;">
    <h1>List of teams</h1>
    <table class="table table-dark table-hover">

        <tbody>
            {% for team in teams %}

            <tr>
                <td><strong> <a href="{{ path('details_team', {'id' : team.id }) }}"> {{ team }} </a> </strong> </td>
                {% if is_granted('ROLE_ADMIN') or app.user == team.captain %}
                <td>
                    <a class="btn btn-danger" href="{{path('remove_team', {'id':team.id})}}">Remove</a>
                </td>
                {% else %}
                <td>

                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}