/* thead{
    background-color: cadetblue;
} */

header {
    background-color: #000008;
    padding: 20px;
    margin-bottom: 0%;
  }
  body{
    background-color: #000008;
  }
  
      
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #f5f0f0;
    font-weight: bold;
  }
  
  .site-name {
    font-size: 24px;
    color: #e7e1e1;
    font-weight: bold;
  }
  
      
    
  
      .footer_style {
        position: relative;
        background-color: rgb(22, 2, 2);
        color: rgb(10, 1, 1);
        height: 10%;
        /* bottom: 0; */
        width: 100%;
        margin-bottom: 0%;
      }
  
      .links {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
      }
  
      .links a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
      }
  
      .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
  
      .social-icons a {
        margin: 0 10px;
        font-size: 24px;
      }
  
      .container_body {
        background-image: url('https://e0.pxfuel.com/wallpapers/25/944/desktop-wallpaper-santiago-bernabeu-stadium-background-cool.jpg');
        background-size: cover;
        /*filter: blur(6px);*/
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 0%;
        /*height: 100vh; Adjust the height as needed */
        color: white;
        
      }
  
      .navbar_edit{
        background-color: rgba(7, 31, 58, 0.34);
      }
      
      .logo{
        border-radius: 10px;
      }
  
      .img_logo{
        display: flex;
        width: 100%;
        justify-content: center;
      }
  

.match{
    background-color: cadetblue;
    color: white;
}

.game-center-header_competitors_and_scores__0EHVn{
    
        -moz-box-align: start;
        -moz-box-pack: center;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        min-height: 128px;
        width: 100%;
    
}

#list_table{
    border-radius: 5%;
    margin: 4%;
}

.search{
  float: right;
  border-radius: 10px;
}

.search_box{
  
  border-radius: 10px;
  
}

.finished-matches {
  border-radius: 10px;
  padding: 3%;
  background-color: darkslategray;
  color: white;
  border: 1px solid black;
  padding: 10px;
  float: right;
  /* Switch float to right */
  width: 47%;
}

.upcoming-matches {
  border-radius: 10px;
  padding: 3%;
  background-color: darkslategray;
  color: white;
  border: 1px solid black;
  padding: 10px;
  float: left;
  /* Switch float to left */
  width: 47%;
  margin-bottom: 10px;
}

.waiting-match {
  display: flexbox;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: darkslategray;
  color: white;
  border: 1px solid black;
  padding: 10px;
  width: 47%;
  margin-top: 10px;
  float: left;
  /* Switch float to left */
}

.match-result {
  display: inline-block;
  width: fit-content;
  background-color: #eaeaea;
  border-radius: 5px;
  color: #333;
  font-size: 12px;
  padding: 3px 5px;
}



.two_table {
  display: flexbox;
  justify-content: center;
}

.wait_table {
  display: flexbox;
  justify-content: start;
  grid-area: wait_table;
  margin-left: 3%;
  margin-bottom: 3%;

}

.main_div{
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
   "two_table"
   "wait_table";
}

.two_table{
  grid-area: two_table;
  grid-template-columns: 50% 50%;
  grid-template-rows: "upcoming-matches finished-matches ";
}


