/* ==================== Responsive ====================== */

@media (max-width: 700px) {
  .list-players {
    font-family: 'Courier New', Courier, monospace;
  }

  /* nav ul {
  display: flex;
  justify-content: baseline;
 } */

}

/* ==================== Header ====================== */


header {
  position: relative;
  background-image: url('../imgs/Capture d\'écran 2023-05-12 171356.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000008;
  padding: 20px;
  height: 175px;
  width: 100%;
}

.logo {
  border-radius: 10px;
  width: 300px;
}

.img_logo {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

}

/* .nav-top{
display: flex;

} */

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #f5f0f0;
  font-weight: bold;
}

.site-name {
  font-size: 24px;
  color: #e7e1e1;
  font-weight: bold;
}








/* ==================== Body ====================== */


body {
  background-color: #000008;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  background-color: #333;
  border-radius: 7px;
  font-family: serif;

}


.container_body {
  background-image: url('https://wallpapers.com/images/high/santiago-bernabeu-stadium-football-field-dgygwpl7xvlvdybh.webp');
  background-size: cover;
  /*filter: blur(6px);*/
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0%;
  height: 100vh;
  /*Adjust the height as needed */
  color: hsla(0, 23%, 92%, 0.932);
  width: 100%;
}

.navbar_edit {
  background-color: rgba(7, 31, 58, 0.34);
}





.game-center-header_competitors_and_scores__0EHVn {

  -moz-box-align: start;
  -moz-box-pack: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 128px;
  width: 100%;

}

#list_table {
  border-radius: 5%;
  margin: 4%;
}

.search {
  float: right;
  border-radius: 10px;
}

.search_box {

  border-radius: 10px;

}






/* ==================== Matches ====================== */

.match {
  background-color: cadetblue;
  color: white;
}


.finished-matches {
  border-radius: 10px;
  padding: 3%;
  background-color: darkslategray;
  color: white;
  border: 1px solid black;
  padding: 10px;
  float: right;
  /* Switch float to right */
  width: 47%;
}

.upcoming-matches {
  border-radius: 10px;
  padding: 3%;
  background-color: darkslategray;
  color: white;
  border: 1px solid black;
  padding: 10px;
  float: left;
  /* Switch float to left */
  width: 47%;
  margin-bottom: 10px;
}

.waiting-match {
  display: flexbox;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: darkslategray;
  color: white;
  border: 1px solid black;
  padding: 10px;
  width: 47%;
  margin-top: 10px;
  float: left;
  /* Switch float to left */
}

.match-result {
  display: inline-block;
  width: fit-content;
  background-color: #eaeaea;
  border-radius: 5px;
  color: #333;
  font-size: 12px;
  padding: 3px 5px;
  margin-left: 5px;
  margin-right: 5px;
}



.two_table {
  display: flexbox;
  justify-content: center;
}

.wait_table {
  display: flexbox;
  justify-content: start;
  grid-area: wait_table;
  margin-left: 3%;
  margin-bottom: 3%;

}

.main_div {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
    "two_table"
    "wait_table";
}

.two_table {
  grid-area: two_table;
  grid-template-columns: 50% 50%;
  grid-template-rows: "upcoming-matches finished-matches ";
}








/* ========================= Form ============================*/
.my-form {
  background-color: #1a0202;
}








/* ========================= Footer ============================*/


.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 5%;

}

.footer_style {
  position: absolute;
  background-color: rgb(22, 2, 2);
  color: rgb(10, 1, 1);
  height: 10%;
  bottom: 0;
  width: 100%;
  left: 0;
  /* margin-bottom: 0%; */
}

.links {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social-icons a {
  margin: 0 10px;
  font-size: 24px;
}