thead{
    background-color: cadetblue;
}

.match{
    background-color: cadetblue;
    color: white;
}

.game-center-header_competitors_and_scores__0EHVn{
    
        -moz-box-align: start;
        -moz-box-pack: center;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        min-height: 128px;
        width: 100%;
    
}