{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
<h1>List of players</h1>
<table class="table table-dark table-hover">
    <tbody>
        {% for user in users %}

        <tr>
            <td><strong> <a href="{{path('details_user', {'id' : user.id})}}"> {{ user.firstname}} {{user.lastname }}
                    </a> </strong> </td>
            {# <td> <a class="btn btn-danger" href="{{path('delete_entreprise', {'id' : entreprise.id})}}"> Delete</a>
            </td> #}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}